.textBox {
    box-sizing: border-box;
    margin-bottom: 80px;
}

.textBox h1 {
    color: hsl(0, 0%, 8%);
    font-family: Epilogue;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 0px;
}

.textBox p {
    color: hsl(0, 0%, 41%);
    font-family: Epilogue;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 30px;
    width: 330px;
}

.textBox button {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border-radius: 10px;
    height: 38px;
    width: 115px;
    font-family: Epilogue;
    font-size: 13px;
    font-weight: 500;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 70px;
        margin-right: 30px;
    }
}

#client-icon {
    width: 50px;
}

#client-meet {
    width: 60px;
}
