@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0px;
  padding: 0px;

}

body {
  background-color: hsl(0, 0%, 98%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    box-sizing: border-box;
    margin-top: 150px;
  }
}

@media (max-width: 768px) {
  .imgBox {
    margin: 0px;
    margin-top: 110px;
  }

  .imgM {
    display: none;
  }

  .navigation {
    display: none;
  }

  .loginBtn {
    display: none;
  }

  .iconMenu {
    display: block;
  }
}


@media (max-width: 500px) {
  .header {
    margin: 10px 20px;
    position: relative;

  }

  .img {
    height: 30px;
  }

  .hero {
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 0px 20px;

    div {
      margin-top: 50px;
      width: 100%;
    }
  }

  .textBox {
    text-align: center;

    h1 {
      font-size: 40px;
      margin-bottom: 20px;

      br {
        display: none;
      }
    }

    p {
      margin: auto;
    }

    button {
      margin-top: 30px;
      height: 48px;
      width: 130px;
    }
  }

  .imgBox {
    width: 100%;
    margin: 0px;
    margin-right: 5px;

    .imgD {
      display: none !important;
    }

    .imgM {
      display: block !important;
      height: 250px;
      width: 100%;
    }

  }

  .client {
    margin-top: -30px;
    justify-content: space-around;

    img {
      margin-right: 0px;
    }
  }

  .navigation {
    display: none;
  }

  .loginBtn {
    display: none;
  }

  .iconMenu {
    display: block;
  }

}
